.ytp-loop-button {
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    height: 100%; 
    margin: inherit;
    padding: 0; 
    cursor: pointer; 
    color: "black";
    position: relative;
    bottom:20px
}

.ytp-loop-active{
    color: #ff0000 ;
    font-weight: bold;
}


